{{props asignaturas}}
<div class="asignatura">
  <h2>{{>prop.codigo}} - {{>prop.nombre}}</h2>
  {{props prop.bloques}}
  <div class="bloque">
    <h3>{{>prop.nombre}}</h3>
    {{props prop.especialidades}}
    <div class="especialidad">
      <h4>{{>prop.nombre}}</h4>
      {{if prop.comentariosEspecialidad}}<p class="comentarioEspecialidad"><em>{{:prop.comentariosEspecialidad}}</em></p>{{/if}}
      {{props prop.hospitales}}
      <div class="nombre-hospital">{{:prop.nombre}} <span class="plazas-hospital hidden">({{:prop.plazas}})</span></div>
      <div class="grid">
        {{for prop.ofertas}}
          <div class="tooltip periodo tam-{{: periodoFinal-periodoInicial+1}} col-{{:periodoInicial}} {{:estado}}"
               title="{{:titulo}}"
               data-id="{{:unicoId}}"
               {{if titulo}}data-info="{{:titulo}}"{{/if}}
               {{if comentariosLimites}}data-comentarios-limites="{{:comentariosLimites}}"{{/if}}
        {{if estado == 'deshabilitado'}}data-warning="No pots sel·leccionar aquestes practiques perque ja has sel·leccionat previament unes pràctiques en el mateix bloc o en les mateixes dates d'un altre bloc."{{/if}}
          >{{:nombre}}<span class="plazas-periodo hidden"> ({{:plazas}})</span>
          </div>
        {{/for}}
      </div>
      {{/props}}
    </div>
    {{/props}}
  </div>
  {{/props}}
</div>
{{/props}}