.editor-visible div.x-grid-cell-inner {
    border: 1px solid #0080cc;
}

.x-grid-cell-inner {
    position: relative;
    text-overflow: ellipsis;
    padding: 5px 5px 4px;
}

.x-form-item-default.x-item-disabled {
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
    opacity: 0.5;
}

.x-panel .no-border
{
    border-width: 0
}

.disabled-row .x-grid-cell {
    cursor: pointer;
}

.greeniconcolor {
    color: seagreen;
}

.rediconcolor {
    color: darkred;
}

#landing-loading {
    margin: 200px auto;
    width: 200px;
    text-align: center;
    font-size: 14px;
    font-weight: bold;
}

