div.box div.header {
    padding: 1em;
    font-size: 18px;
    font-weight: bold;
}

div.title {
    font-weight: bold;
    margin-left: 1em;
}

div.item {
    margin-left: 4em;
    margin-bottom: 2em;
    padding: 20px;
}

button {
    margin: 1em;
}

.clear {
    clear: both;
}

.boton {
    padding: 4px 8px;
    background-color: #008800;
    color: #fff;
    border-radius: 3px;
    text-decoration: none;
    margin-bottom: 10px;
}

a.button.round:visited {
    color: white;
}

.periodo {
    display: block;
    margin: 8px 8px 8px 0;
    padding: 5px 12px;
    float: left;
    color: #fff;
    border-radius: 5px;
}

.periodo.libre {
    background: #008800;
}

.periodo.deshabilitado {
    background: #777;
}

.periodo.seleccionado-fase-anterior {
    background: #8c00cc;
}

.periodo.seleccionado {
    background: #0066ff;
}

#horaTurno {
    display: none;
}