body {
    background: #FFF;
    font-family: Helvetica, Arial, sans-serif;
    padding-top: 100px;
    color: #222;
}

h1, h2, h3, h4, h5, p {
    margin: 0 0 0.8em 0;
}

div.tablero {
    background: white;
    padding: 0 1em;
    min-width: 1280px;
    overflow-x: auto;
    text-align: center;
}

div.tablero, div#overlay {
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none;   /* Chrome/Safari/Opera */
    -khtml-user-select: none;    /* Konqueror */
    -moz-user-select: none;      /* Firefox */
    -ms-user-select: none;       /* Internet Explorer/Edge */
    user-select: none;           /* Non-prefixed version */
}

div.asignatura {
    text-align: left;
    background: white;
    padding-bottom: 3em;
}

p.comentarioEspecialidad {
    font-size: .9rem;
    color: #ab6202;
    font-weight: bold;
}

div.asignatura div.bloque {
    text-align: left;
    margin-left: 1em;
    width: 1400px;
}

div.asignatura div.bloque div.grid {
    margin: 0 0 4px 160px;
    position: relative;
    border-bottom: 1px solid #aaa;
    border-right: 1px solid #aaa;
    background: url(../img/cell.png) repeat #fff;
    height: 38px;
    width: 1152px;
}

div.asignatura h1, div.tablero h2, div.tablero h3, div.tablero h4 {
    margin: 0 0 0.4em;
}

div.asignatura div.bloque div.grid div.periodo {
    position: absolute;
    width: 89px;

    margin: 5px 0 0 4px;
    font-size: 13px;
    line-height: 2em;
    font-weight: normal;
    display: block;
    height: 26px;
    border: none;

    text-align: center;
    border-radius: 3px;
    box-shadow: 0 8px 6px -6px black;
    color: white;
    cursor: pointer;
    overflow: hidden;
}

div.asignatura div.bloque div.grid .periodo.libre {
    background: #008800;
}

div.asignatura div.bloque div.grid .periodo.deshabilitado {
    cursor: default;
    background: #777;
    opacity: 0.5;
}

div.asignatura div.bloque div.grid .periodo.seleccionado-fase-anterior {
    cursor: default;
    background: #8c00cc;
}

div.asignatura div.bloque div.grid .periodo.seleccionado {
    background: #0066ff;
}

.especialidad {
    border: 1px solid #E5E5E5;
    margin-left: 1em;
    padding: 10px;
    margin-bottom: 1em;
    border-radius: 3px;
    width: 1320px;
    background-color: #F1F1F1;
}

.nombre-hospital {
    width: 150px;
    float: left;
    padding-top: 6px;
    clear: both;
    font-size: 14px;
    line-height: 16px;
}

.red {
    background-color: darkred;
}

.dark-blue {
    background-color: darkblue;
}

.yellow {
    background-color: darkorange;
}

.blue {
    background-color: #4381EA;
}

.blue:hover {
    background-color: #3F51B5;
}

small {
    color: #FF6839;
}

.boton {
    color: #fff;
    padding: 5px 8px;
    display:inline-block;
    border-radius: 3px;
    font-size: 90%;
    text-decoration: none;
    box-shadow: 1px 1px 4px 0px #666;
}

div.tablero div.bloque div.grid div.periodo.tam-1 { width: 28px; }
div.tablero div.bloque div.grid div.periodo.tam-2 { width: 64px; }
div.tablero div.bloque div.grid div.periodo.tam-3 { width: 100px; }
div.tablero div.bloque div.grid div.periodo.tam-4 { width: 136px; }
div.tablero div.bloque div.grid div.periodo.tam-5 { width: 172px; }
div.tablero div.bloque div.grid div.periodo.tam-6 { width: 208px; }
div.tablero div.bloque div.grid div.periodo.tam-7 { width: 244px; }
div.tablero div.bloque div.grid div.periodo.tam-8 { width: 280px; }
div.tablero div.bloque div.grid div.periodo.tam-9 { width: 316px; }
div.tablero div.bloque div.grid div.periodo.tam-10 { width: 352px; }

div.tablero div.bloque div.grid div.periodo.col-1 { left: 0px; }
div.tablero div.bloque div.grid div.periodo.col-2 { left: 36px; }
div.tablero div.bloque div.grid div.periodo.col-3 { left: 72px; }
div.tablero div.bloque div.grid div.periodo.col-4 { left: 108px; }
div.tablero div.bloque div.grid div.periodo.col-5 { left: 144px; }
div.tablero div.bloque div.grid div.periodo.col-6 { left: 180px; }
div.tablero div.bloque div.grid div.periodo.col-7 { left: 216px; }
div.tablero div.bloque div.grid div.periodo.col-8 { left: 252px; }
div.tablero div.bloque div.grid div.periodo.col-9 { left: 288px; }
div.tablero div.bloque div.grid div.periodo.col-10 { left: 324px; }
div.tablero div.bloque div.grid div.periodo.col-11 { left: 360px; }
div.tablero div.bloque div.grid div.periodo.col-12 { left: 396px; }
div.tablero div.bloque div.grid div.periodo.col-13 { left: 432px; }
div.tablero div.bloque div.grid div.periodo.col-14 { left: 468px; }
div.tablero div.bloque div.grid div.periodo.col-15 { left: 504px; }
div.tablero div.bloque div.grid div.periodo.col-16 { left: 540px; }
div.tablero div.bloque div.grid div.periodo.col-17 { left: 576px; }
div.tablero div.bloque div.grid div.periodo.col-18 { left: 612px; }
div.tablero div.bloque div.grid div.periodo.col-19 { left: 648px; }
div.tablero div.bloque div.grid div.periodo.col-20 { left: 684px; }
div.tablero div.bloque div.grid div.periodo.col-21 { left: 720px; }
div.tablero div.bloque div.grid div.periodo.col-22 { left: 756px; }
div.tablero div.bloque div.grid div.periodo.col-23 { left: 792px; }
div.tablero div.bloque div.grid div.periodo.col-24 { left: 828px; }
div.tablero div.bloque div.grid div.periodo.col-25 { left: 864px; }
div.tablero div.bloque div.grid div.periodo.col-26 { left: 900px; }
div.tablero div.bloque div.grid div.periodo.col-27 { left: 936px; }
div.tablero div.bloque div.grid div.periodo.col-28 { left: 972px; }
div.tablero div.bloque div.grid div.periodo.col-29 { left: 1008px; }
div.tablero div.bloque div.grid div.periodo.col-30 { left: 1044px; }
div.tablero div.bloque div.grid div.periodo.col-31 { left: 1080px; }
div.tablero div.bloque div.grid div.periodo.col-32 { left: 1116px; }

#overlay {
    position: fixed;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    background: rgba(255,255,255,0.6);
}

#loading {
    width: 96px;
    height: 96px;
    position: absolute;
    top: 50%;
    left: 50%;
    margin: -48px 0 0 -48px;
}

#cabecera {
    position: fixed;
    top:0;
    left:0;
    right: 0;
    padding: 10px 20px;
    background-color: #F1F1F1;
    border-bottom: 1px solid #E5E5E5;
    z-index: 9999;
    min-width: 956px;
}

#cabecera h1 {
    font-size: 1.4em;
    margin-bottom: 0.4em;
}

#notificacion {
    border-radius: 3px;
    margin-top: 6px;
    width: 360px;
    text-align: center;
    padding: .5em 1em;
    background: #f2d993;
    font-size: 16px;
    display: inline-block;
    box-shadow: 1px 1px 4px 0px #666;
}

a.help-tooltip {
    margin-top: 4px;
    display: inline-block;
    vertical-align: middle;
    opacity: .6;
}

a.help-tooltip:hover {
    opacity: 1;
}

#notificacion.warning {
    background: #f2d993;
}

#notificacion.ok {
    background: #008800;
    color: #fff;
}


.info {
    text-align: right;
    position: absolute;
    right: 20px;
    top: 10px;
    width: 580px;
}

.clear {
    clear: both;
}

#help-content {
    font-size: 80%;
}

#help-content .periodo {
    display: block;
    margin: 8px 8px 8px 0;
    padding: 5px 12px;
    float: left;
    color: #fff;
    border-radius: 5px;
}

#help-content .periodo.libre {
    background: #008800;
}

#help-content .periodo.deshabilitado {
    background: #777;
}

#help-content .periodo.seleccionado-fase-anterior {
    background: #8c00cc;
}

#help-content .periodo.seleccionado {
    background: #0066ff;
}

.error {
    background-color: #EC5144;
    color: white;
    font-weight: bold;
    padding: 20px;
    border-radius: 8px;
    display: inline-block;
    margin: auto;
    text-align: center;
    height: 40px;
    line-height: 40px;
    width: 320px;
}

.error span {
    display: inline-block;
    vertical-align: middle;
}

.hidden {
    display:none;;
}

.plazas-hospital, .plazas-periodo {
    font-style:italic;
}

.plazas-periodo {
    font-size: 80%;
}

@media screen and (max-width: 1400px) {
    div.asignatura div.bloque div.grid {
        background: url(../img/cell1280.png) repeat #fff;
        width: 960px;
    }

    .especialidad {
        width: 1125px;
    }

    div.asignatura div.bloque div.grid div.periodo {
        font-size: 11px;
        line-height: 2.5em;
    }

    div.tablero div.bloque div.grid div.periodo.tam-1 { width: 22px; }
    div.tablero div.bloque div.grid div.periodo.tam-2 { width: 52px; }
    div.tablero div.bloque div.grid div.periodo.tam-3 { width: 82px; }
    div.tablero div.bloque div.grid div.periodo.tam-4 { width: 112px; }
    div.tablero div.bloque div.grid div.periodo.tam-5 { width: 142px; }
    div.tablero div.bloque div.grid div.periodo.tam-6 { width: 172px; }
    div.tablero div.bloque div.grid div.periodo.tam-7 { width: 202px; }
    div.tablero div.bloque div.grid div.periodo.tam-8 { width: 232px; }
    div.tablero div.bloque div.grid div.periodo.tam-9 { width: 262px; }
    div.tablero div.bloque div.grid div.periodo.tam-10 { width: 292px; }

    div.tablero div.bloque div.grid div.periodo.col-1 { left: 0px; }
    div.tablero div.bloque div.grid div.periodo.col-2 { left: 30px; }
    div.tablero div.bloque div.grid div.periodo.col-3 { left: 60px; }
    div.tablero div.bloque div.grid div.periodo.col-4 { left: 90px; }
    div.tablero div.bloque div.grid div.periodo.col-5 { left: 120px; }
    div.tablero div.bloque div.grid div.periodo.col-6 { left: 150px; }
    div.tablero div.bloque div.grid div.periodo.col-7 { left: 180px; }
    div.tablero div.bloque div.grid div.periodo.col-8 { left: 210px; }
    div.tablero div.bloque div.grid div.periodo.col-9 { left: 240px; }
    div.tablero div.bloque div.grid div.periodo.col-10 { left: 270px; }
    div.tablero div.bloque div.grid div.periodo.col-11 { left: 300px; }
    div.tablero div.bloque div.grid div.periodo.col-12 { left: 330px; }
    div.tablero div.bloque div.grid div.periodo.col-13 { left: 360px; }
    div.tablero div.bloque div.grid div.periodo.col-14 { left: 390px; }
    div.tablero div.bloque div.grid div.periodo.col-15 { left: 420px; }
    div.tablero div.bloque div.grid div.periodo.col-16 { left: 450px; }
    div.tablero div.bloque div.grid div.periodo.col-17 { left: 480px; }
    div.tablero div.bloque div.grid div.periodo.col-18 { left: 510px; }
    div.tablero div.bloque div.grid div.periodo.col-19 { left: 540px; }
    div.tablero div.bloque div.grid div.periodo.col-20 { left: 570px; }
    div.tablero div.bloque div.grid div.periodo.col-21 { left: 600px; }
    div.tablero div.bloque div.grid div.periodo.col-22 { left: 630px; }
    div.tablero div.bloque div.grid div.periodo.col-23 { left: 660px; }
    div.tablero div.bloque div.grid div.periodo.col-24 { left: 690px; }
    div.tablero div.bloque div.grid div.periodo.col-25 { left: 720px; }
    div.tablero div.bloque div.grid div.periodo.col-26 { left: 750px; }
    div.tablero div.bloque div.grid div.periodo.col-27 { left: 780px; }
    div.tablero div.bloque div.grid div.periodo.col-28 { left: 810px; }
    div.tablero div.bloque div.grid div.periodo.col-29 { left: 840px; }
    div.tablero div.bloque div.grid div.periodo.col-30 { left: 870px; }
    div.tablero div.bloque div.grid div.periodo.col-31 { left: 900px; }
    div.tablero div.bloque div.grid div.periodo.col-32 { left: 930px; }
}

@media screen and (max-width: 1200px) {

    div.asignatura div.bloque div.grid {
        background: url(../img/cell1024.png) repeat #fff;
        width: 768px;
    }

    .especialidad {
        width: 928px;
    }

    div.asignatura div.bloque div.grid div.periodo {
        font-size: 11px;
        line-height: 2.4em;
    }

    #cabecera h1 {
        font-size: 1.1em;
    }

    div.tablero div.bloque div.grid div.periodo.tam-1 { width: 16px; }
    div.tablero div.bloque div.grid div.periodo.tam-2 { width: 40px; }
    div.tablero div.bloque div.grid div.periodo.tam-3 { width: 64px; }
    div.tablero div.bloque div.grid div.periodo.tam-4 { width: 88px; }
    div.tablero div.bloque div.grid div.periodo.tam-5 { width: 112px; }
    div.tablero div.bloque div.grid div.periodo.tam-6 { width: 136px; }
    div.tablero div.bloque div.grid div.periodo.tam-7 { width: 160px; }
    div.tablero div.bloque div.grid div.periodo.tam-8 { width: 184px; }
    div.tablero div.bloque div.grid div.periodo.tam-9 { width: 208px; }
    div.tablero div.bloque div.grid div.periodo.tam-10 { width: 232px; }

    div.tablero div.bloque div.grid div.periodo.col-1 { left: 0px; }
    div.tablero div.bloque div.grid div.periodo.col-2 { left: 24px; }
    div.tablero div.bloque div.grid div.periodo.col-3 { left: 48px; }
    div.tablero div.bloque div.grid div.periodo.col-4 { left: 72px; }
    div.tablero div.bloque div.grid div.periodo.col-5 { left: 96px; }
    div.tablero div.bloque div.grid div.periodo.col-6 { left: 120px; }
    div.tablero div.bloque div.grid div.periodo.col-7 { left: 144px; }
    div.tablero div.bloque div.grid div.periodo.col-8 { left: 168px; }
    div.tablero div.bloque div.grid div.periodo.col-9 { left: 192px; }
    div.tablero div.bloque div.grid div.periodo.col-10 { left: 216px; }
    div.tablero div.bloque div.grid div.periodo.col-11 { left: 240px; }
    div.tablero div.bloque div.grid div.periodo.col-12 { left: 264px; }
    div.tablero div.bloque div.grid div.periodo.col-13 { left: 288px; }
    div.tablero div.bloque div.grid div.periodo.col-14 { left: 312px; }
    div.tablero div.bloque div.grid div.periodo.col-15 { left: 336px; }
    div.tablero div.bloque div.grid div.periodo.col-16 { left: 360px; }
    div.tablero div.bloque div.grid div.periodo.col-17 { left: 384px; }
    div.tablero div.bloque div.grid div.periodo.col-18 { left: 408px; }
    div.tablero div.bloque div.grid div.periodo.col-19 { left: 432px; }
    div.tablero div.bloque div.grid div.periodo.col-20 { left: 456px; }
    div.tablero div.bloque div.grid div.periodo.col-21 { left: 480px; }
    div.tablero div.bloque div.grid div.periodo.col-22 { left: 504px; }
    div.tablero div.bloque div.grid div.periodo.col-23 { left: 528px; }
    div.tablero div.bloque div.grid div.periodo.col-24 { left: 552px; }
    div.tablero div.bloque div.grid div.periodo.col-25 { left: 576px; }
    div.tablero div.bloque div.grid div.periodo.col-26 { left: 600px; }
    div.tablero div.bloque div.grid div.periodo.col-27 { left: 624px; }
    div.tablero div.bloque div.grid div.periodo.col-28 { left: 648px; }
    div.tablero div.bloque div.grid div.periodo.col-29 { left: 672px; }
    div.tablero div.bloque div.grid div.periodo.col-30 { left: 696px; }
    div.tablero div.bloque div.grid div.periodo.col-31 { left: 720px; }
    div.tablero div.bloque div.grid div.periodo.col-32 { left: 744px; }
}