.tooltipster-noir {
	border-radius: 3px;
	border: 1px solid #888;
	background: #f7f1af;
	color: #2c2c2c;
}
.tooltipster-noir .tooltipster-content {
	font-family: Arial, sans-serif;
	font-size: 14px;
	line-height: 16px;
	padding: 8px 10px;
	overflow: hidden;
}